# Python
__pycache__/
*.py[cod]
*$py.class

# AWS SAM
.aws-sam/

# Environment
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store


# user data in xcode
*.xcuserstate

# debugger data in xcode
*.xcsessions

# ignore secrets
*.xcconfig

OLMoE.swift.xcodeproj/project.xcworkspace/xcuserdata/

.cursorrules

no_commit/

*.example.xcconfig
